.movies-card-list {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 160px;
}

.movies-card-list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  column-gap: 30px;
}

.movies-card-list__button {
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid #424242;
  width: 320px;
  height: 36px;
  color: inherit;
  text-align: center;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 78px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.movies-card-list__button:hover {
  opacity: 0.7;
}

@media (max-width: 1180px) {
  .movies-card-list {
    max-width: 1024px;
  }
}

@media (max-width: 1060px) {
  .movies-card-list {
    max-width: 868px;
  }
}

@media (max-width: 900px) {
  .movies-card-list {
    max-width: 768px;
  }
  .movies-card-list__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .movies-card-list {
    max-width: 728px;
  }
}

@media (max-width: 768px) {
  .movies-card-list {
    max-width: 768px;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-bottom: 80px;
  }
  .movies-card-list__container {
    margin-top: 33px;
  }
  .movies-card-list__button {
    margin-top: 50px;
  }
}
