.profile {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  padding-bottom: 70px;
}
.profile__hello {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 123px;
}
.profile__label {
  max-width: 410px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile__label:first-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-of-type {
  margin-top: 17px;
}
.profile__input {
  background-color: inherit;
  color: inherit;
  border: none;

  outline: none;
  text-align: right;
}

.profile__edit-button {
  margin-top: 220px;
  width: 410px;
  height: 16px;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__edit-button_quit {
  margin-top: 16px;
  color: #ee3465;
}
