.trailer-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.trailer-popup__wrapper {
  position: relative;
}
.trailer-popup__close-button {
  background-image: url('../../images/close-icon.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: -35px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.trailer-popup__close-button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
