.portfolio {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  padding-bottom: 125px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 30px;
}

@media (max-width: 1180px) {
  .portfolio {
    max-width: 1024px;
  }
}

@media (max-width: 1060px) {
  .portfolio {
    max-width: 868px;
  }
}

@media (max-width: 900px) {
  .portfolio {
    max-width: 768px;
  }
}

@media (max-width: 800px) {
  .portfolio {
    max-width: 728px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 90px;
    box-sizing: border-box;
    padding-bottom: 90px;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 0;
    padding-bottom: 70px;
  }
  .portfolio__title {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
