.portfolio {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: 'Inter';
  font-style: normal;
  padding-bottom: 125px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  padding-bottom: 30px;
}
