.portfolio-item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  width: 100%;
  list-style-type: none;
}

.portfolio-item_border {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio-item__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  box-sizing: border-box;
}

.portfolio-item__link:hover {
  opacity: 0.7;
}

.portfolio-item__name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

@media (max-width: 768px) {
  .portfolio-item__name {
    font-size: 28px;
  }
  .portfolio-item {
    border-bottom: 1px solid #e6e6e6;
  }
  .portfolio-item_border {
    border-bottom: none;
  }
}

@media (max-width: 400px) {
  .portfolio-item__name {
    font-size: 18px;

    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
