.portfolio-item {
  font-family: 'Inter';
  font-style: normal;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.portfolio-item_border {
  border-bottom: none;
}

.portfolio-item__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.portfolio-item__link:hover {
  opacity: 0.7;
}

.portfolio-item__name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
  margin-top: 20px;
}
