.searchform {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #424242;
}

.searchform__container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}

.searchform__input {
  max-width: 1086px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  padding-left: 20px;
  outline: none;
}

.searchform__input::placeholder {
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.searchform__button {
  background-image: url('../../images/find-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  border: none;
  background-color: inherit;
}
