.header {
  max-width: 1140px;
  width: 100%;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
}

.header__movies-container {
  display: flex;
  gap: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  left: 40px;
}

.header__movies {
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.header__movies:hover {
  opacity: 0.7;
}

.header__movies_active {
  font-weight: 500;
}

.header__account {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__account-button {
  color: inherit;
  background-color: inherit;
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__signup {
  color: inherit;
  background-color: inherit;
  border: none;
  width: 77px;
  height: 16px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__signin {
  color: #000;
  border: none;
  width: 76px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  border-radius: 3px;
  background: #3ddc84;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
