.aboutproject {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  margin-bottom: 110px;
}

.aboutproject__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}

.aboutproject__part {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.aboutprohect__subtitle {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.aboutproject__paragraph {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.aboutproject__weeks {
  display: flex;
}

.aboutproject__weeks_margin {
  margin-top: 110px;
}

.aboutproject__oneweek {
  background: #3ddc84;
  width: 228px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.aboutproject__fourweeks {
  max-width: 912px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.aboutproject_background {
  background: inherit;
}

.aboutproject_textcolor {
  color: #000;
}
