.auth-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  position: relative;
}

.auth-input_error {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  color: #ff004c;
  text-align: center;
  font-family: '"Inter", "Arial", sans-serif;';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.auth-input__label {
  color: #8b8b8b;
  font-family: '"Inter", "Arial", sans-serif;';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth-input__input {
  color: inherit;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  width: 396px;
  height: 46px;
  padding: 15px;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .auth-input {
    max-width: 260px;
  }
  .auth-input__input {
    width: 260px;
  }
}
