.footer {
  margin-top: 80px;
  font-family: 'Inter';
  font-style: normal;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer__title {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__year {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}
.footer__items {
  display: flex;
  gap: 20px;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.footer__yandex {
  margin: 0;
  padding: 0;
}

.footer__github {
  margin: 0;
  padding: 0;
}
