.tech {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  background: #272727;
  padding-top: 100px;
  padding-bottom: 100px;
}

.tech__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 28px;
}

.tech__subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
  width: 100%;
}

.tech__items {
  display: flex;
  margin-top: 100px;
  gap: 10px;
  flex-wrap: wrap;
}
.tech__item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #303030;
  text-align: center;
  padding: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 823px) {
  .tech {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .tech {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .tech__title {
    margin-top: 80px;
    margin-bottom: 22px;
  }
  .tech__items {
    margin-top: 83px;
  }
  .tech__subtitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  .tech__item {
    width: 84px;
    height: 57px;
  }
}

@media (max-width: 400px) {
  .tech {
    padding: 70px 18px;
  }
  .tech__title {
    margin-top: 60px;
    margin-bottom: 24px;
  }
  .tech__items {
    margin-top: 50px;
    max-width: 178px;
  }
  .tech__subtitle {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
}
