.auth {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
  margin-top: 70px;
}

.auth__title {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0 20px 0;
  padding: 0;
}
