.auth {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  position: relative;
}

.auth__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0 20px 0;
  padding: 0;
}

@media (max-width: 768px) {
  .auth {
    margin-top: 232px;
  }
}

@media (max-width: 430px) {
  .auth {
    margin-top: 56px;
    align-items: center;
  }
  .auth__title {
    margin: 50px 0 60px 0;
  }
}
