.navtab {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
}

.navtab__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background: #303030;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navtab__button:hover {
  opacity: 0.7;
}

@media (max-width: 400px) {
  .navtab {
    padding-bottom: 17px;
  }
  .navtab__button {
    width: 82px;
    height: 26px;
    font-size: 10px;
    line-height: 16px;
  }
}
